<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registro de Horas</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/style/style.css">
</head>
<body>
	<div class="container">
		<section class="row">
			<article class="row-md-8 row-xs-offset-4 row-xs-12">
				<form method="POST" id="myForm">
				<fieldset class="col-md-4 col-md-offset-4 col-xs-12">
					<legend>Registro de Horas JIRA e-Core</legend>
					<div class="form-group">
						<label for="username">Username:</label>
						<input type="text" class="form-control" name="os_username" id="username" placeholder="Username">
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="form-control" name="os_password" id="password" placeholder="Password">
						<input type="hidden" name="login" value="Log In">
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-md submit" type="button">Submit</button>					
					</div>
				</fieldset>
			</form>
			</article>
		</section>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
	<script src="assets/scripts/script.js"></script>
</body>
</html>